html 
	{
	box-sizing: border-box;
	background-image:url(../assets/bg.jpg); 
	background-size: cover;
	
}
	*, *:after, *:before
	{box-sizing: inherit;}

.main {
	display: flex;
	flex-direction: column;
}

.header {
	width: 80%;
	height: 15%;
	border:1px solid black;
}

.contactInfo {
	width: 80%;
	height: 5%;
	border:1px solid black;
}

.bio {
	width: 80%;
	height: 20%;
	border:1px solid black;
}

.languages {
	width: 80%;
	height: 15%;
	border:1px solid black;
}

.otherWork {
	width: 80%;
	height: 15%;
	border:1px solid black;
}
